{
  "parser": "babel-eslint",
  "extends" : [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    // Allow JSX in .js files
    "react/jsx-filename-extension": 0
  }
}
